body {
  background-color: #f48478;
  color: white;
}

.darkbox {
  background-color: rgba(0, 0, 0, 0.35);
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
}

.page-header {
  margin-top: 20px;
}

.profile {
  color: black;
}

.centerBlock {
  display: table;
  margin: auto;
  text-align: center;
}

.rightBlock {
  display: table;
  margin: auto;
  text-align: right;
}

.formBlock > * {
    margin: 15px 0;
}

.btn-space {
    margin: 5px;
}

.user_button {
  width: 90%;
  margin-bottom: 10px;
}

#carouselExampleIndicators {
  color: black;
}

.carousel-item .card {
  height: 300px;
}

<<<<<<< HEAD
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
=======
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    appearance: none;
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
>>>>>>> 5052af59d568f3a478b01699a95bf0a6d6944fad
}
