body {
  background-color: #f48478;
  color: white;
}

.darkbox {
  background-color: rgba(0, 0, 0, 0.35);
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
}

.page-header {
  /* margin-top: 20px; */
}

.profile {
  color: black;
}

.centerBlock {
  display: table;
  margin: auto;
  text-align: center;
}

.rightBlock {
  display: table;
  margin: auto;
  text-align: right;
}

.formBlock > * {
    margin: 8px 0;
}

.btn-space {
    margin: 5px;
}

.user_button {
  width: 90%;
  margin-bottom: 10px;
}

#carouselExampleIndicators {
  color: black;
}

.carousel-item .card {
  height: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
