.profile {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: grey;
}

.centerBlock {
  display: table;
  margin: auto;
  text-align: center;
}

.rightBlock {
  display: table;
  margin: auto;
  text-align: right;
}

.formBlock > * {
    margin: 8px 0;
}
